*, *:before, *:after {
  box-sizing: border-box;
}

body {
    text-align: center;
    background-color: rgb(31, 49, 31);
    padding-top: 250px;
    padding-bottom: 0px;
    margin: 0px;
    margin-bottom: 60px;
    font-family: 'Candara';
    align-items: center;
  }

header {
  position: fixed;
  background-color: white;
  color: rgb(31, 49, 31);
  width: 100%;
  top: 0;
  left: 0;
  padding: 0;
  z-index: 1000;
  height: 250px;
  box-sizing: border-box;
  border-bottom: 2px solid black;
  /* transition: height 0.3s ease; Smooth transition */
}

header.minimized {
  height: 50px;
  padding: 0;
}

header .minimized-content {
  opacity: 1;
}

header.minimized .minimized-content {
  display: none;
}

h1 {
  font-size: 60px;
  margin: 0px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 25px;
  color: rgb(188, 71, 71);
}

h4 {
  font-size: 20px;
  color: gray;
}

#intro {
  position: relative;
  margin-bottom: 0px;
  left: -200px;
}

p {
  font-size: 20px;
  color: white;
}

#home{
  display: flex;
  left: 0px;
  padding: 0;
  margin: 0;
  /* overflow: hidden; */
  height: calc(100vh - 310px);
  width: 100%;
  align-items: center;
  box-sizing: border-box;
}

#home img {
  padding: 0;
  margin: 0;
  /* height: calc(100vh - 350px); */
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.tab-names {
  display: flex;
  justify-content: center;
}

.tab-names h2 {
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 0px;
  margin-bottom: 0px;
  cursor: pointer;
}

header.minimized .tab-names {
  display: flex; 
}

.row-item {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.image-container {
  position: relative;
  width: 50%;
}

.image-container img{
  width: 100%;
}

.image-container img:hover {
  cursor: pointer;
}

.row-item p {
  flex: 1;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  color: white; /* Text color */
  opacity: 0; /* Initially hide the overlay */
  transition: opacity 0.3s ease; /* Smooth transition */
}

.image-container:hover .overlay {
  opacity: 1; /* Show the overlay on hover */
}

footer {
  display: flex;
  left: 0;
  position: fixed;
  background-color: white;
  width: 100%;
  bottom: 0;
  height: 60px;
  padding-bottom: 15px;
  box-sizing: border-box;
  border-top: 4px solid black;
}

footer div {
  float: left;
  margin: 10px;
}
footer img {
  width: 30px;
}


#play div {
  display: flex;
  justify-content: center;
  height: 100%;
}

.game-icons {
  position: relative;
  /* width: 30px;
  height: 30px; */
  max-width: 10%;
  /* height: auto; */
  margin-left: 10px;
  margin-top: 10px;
  cursor: pointer;
}

.rounds {
  background-color: rgb(248, 230, 217);
  border-bottom: 1px solid black;
}

.user-selections {
  width: 50%;
}

.user-results {
  width: 50%;
  background-color: rgb(241, 184, 144);
}

#icon-key {
  background-color: lightgray;
}

#result-key {
  width: 50%;
  background-color: rgb(187, 185, 185);
}

#user-choices {
  width: 50%;
}

#answer-key {
  background-color: white;
  border-bottom: 2px solid black;
}

#answer-key div {
  width: 50%;
}

#submit-button {
  display: none;
}

button {
  cursor: pointer;
  height: 25px;
  position: relative;
  top: 5px;
  justify-content: center;
  align-items: center;
  width: 150px;
}

/* Dropdown Button */
#play #theme {
  margin-bottom: 5px;
  background-color: rgb(31, 49, 31);
  color: white;
}

/* Dropdown button on hover & focus */
#play #theme:hover, #theme:focus {
  background-color: #dec4bb;
}

/* The container <div> - needed to position the dropdown content */
#play .dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
#play #myDropdown {
  display: none;
  position: absolute;
  min-width: 100%;
  /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
  z-index: 1;
}

/* Links inside the dropdown */
#play #myDropdown a {
  text-decoration: none;
  display: block;
  background-color: white;
  margin: 0px;
}

/* Change color of dropdown links on hover */
#play #myDropdown a:hover {
  background-color: #ddd;}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
#play #myDropdown.show {
  display:block;}

#play .hide-button {
  display: none;
}

#play .show-button {
  display: flex;
}

#play #robot-selections {
  display: none;
  width: 50%;
}
#play #robot-selections.show-answer {
  display: flex;
}

#play h3.opening-page {
  /* font-size: 70px; */
  font-size: calc(8vw);
}

#play #theme.opening-page {
  width: 200px;
  height: 50px;
  left: 0%;
  background-color: white;
  color: black;
  font-size: 20px;
  font-weight: bold;
}

#play #new-game.opening-page {
  position: relative;
  top: 0px;
  width: 200px;
  height: 50px;
  left: calc(50% - 100px);
  font-size: 20px;
  font-weight: bold;

}

#play #new-game {
  position: absolute;
  top: 260px;
}
#play #show-answer {
  position: absolute;
  top: 285px;
}