body {
    /* background-image: url("./img/background/pine_paneling.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */
    text-align: center;
    background-color: rgb(31, 49, 31);
    /* font-family: 'Trebuchet MS'; */
    padding-top: 250px;
    /* font-family:'Garamond'; */
    /* font-family: 'Candara'; */
    font-family: 'Candara';
    padding-bottom: 100px;
    /* font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif */
    /* font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif */
  }

header {
  position: fixed;
  background-color: white;
  /* color: #000042; */
  color: rgb(31, 49, 31);
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  border-bottom: 2px solid black;
  /* transition: height 0.3s ease; Smooth transition */
}

/* header h1 {
  background-color: rgb(31, 49, 31);
  color: white;
} */

#window {
  position: absolute;
  top: 250px;
  left: 0;
  width: 100%; /* Set desired width */
  /* height: 100px; Set desired height */
  /* opacity: 0.5; Optional: set transparency */
}

header.minimized {
  height: 50px; /* Minimized height */
  padding: 0;
}

header .minimized-content {
  opacity: 1;
}

header.minimized .minimized-content {
  display: none; /* Hide other header content */
}

h1 {
  font-size: 60px;
  margin: 0px;
}

h2 {
  font-size: 20px;
  /* color: rgb(188, 71, 71); */
  /* font-family: 'Avant Garde'; */
}

h3 {
  font-size: 25px;
  color: rgb(188, 71, 71);
}

h4 {
  font-size: 20px;
  color: gray;
  /* padding-left: 20px; */
}

#intro {
  position: relative;
  margin-bottom: 0px;
  left: -200px;
}

p {
  font-size: 20px;
  color: white;
}

#home img {
  top: 250px;
  padding-top: 0px;
  /* height: calc(100vh - 350px); */
  max-width: 100%;
  /* object-fit: contain; */
}

/* div.tab-names {
  float: left;
  width: 25%;
  text-align: center;
} */

.tab-names {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.tab-names h2 {
  padding-left: 5%;
  padding-right: 5%;
  cursor: pointer;
}

header.minimized .tab-names {
  display: flex; 
}

#dodger {
  background-color: white;
  /* background-image: url("./img/background/wooden panels.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
  height: 20px;
  position: absolute;
  width: 40px;
  bottom: 0px;
}

#fun {
  background-color: #111;
  height: 400px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 400px;
}

.row-item {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.image-container {
  position: relative;
  width: 50%;
}

.image-container img{
  width: 100%;
}

.image-container img:hover {
  cursor: pointer;
}

.row-item p {
  flex: 1;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  color: white; /* Text color */
  opacity: 0; /* Initially hide the overlay */
  transition: opacity 0.3s ease; /* Smooth transition */
}

.image-container:hover .overlay {
  opacity: 1; /* Show the overlay on hover */
}

footer {
  left: 0;
  position: fixed;
  background-color: white;
  width: 100%;
  bottom: 0;
  padding-top: 10px;
  border-top: 4px solid black;
}

footer div {
  float: left;
  margin: 10px;
}
footer img {
  width: 30px;
}

